<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>instagram</title>
    <link rel="stylesheet" href="/static/css/index.css" type="text/css" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/home.js"></script>
</head>
<body>
    <div class="page-main clearfix">
    <article class="mod">
        <div class="mod-bd">
            <div class="img-box">
                <a href="/Discover/">
                    Discover
                </a>
            </div>
        </div>
    </article>
    <article class="mod">
        <div class="mod-bd">
            <div class="img-box">
                <a href="/TimeLine/">
                    TimeLine
                </a>
            </div>
        </div>
    </article>
    <article class="mod">
        <div class="mod-bd">
            <div class="img-box">
                <a href="/profile/{{ userid }}" >
                    My Images
                </a>
            </div>
        </div>
    </article>
    <article class="mod">
        <div class="mod-bd">
            <div class="img-box">
                <a href="/following/">
                    following
                </a>
            </div>
        </div>
    </article>
    <article class="mod">
        <div class="mod-bd">
            <div class="img-box">
                <a href="/followers/">
                    followers
                </a>
            </div>
        </div>
    </article>
    <article class="mod">
        <div class="mod-bd">
            <div class="img-box">
                <a href="/loadhead/">
                    change avatar
                </a>
            </div>
        </div>
    </article>
    <article class="mod">
        <div class="mod-bd">
            <div class="img-box">
                <a href="/logout/">
                     sign out
                </a>
            </div>
        </div>
    </article>
</div>
</body>
</html>