._f9sjj {
	background-color:#fff;
	border: 1px solid #e6e6e6;
	border-radius: 1px;
	margin: 0 0 10px;
	padding: 10px 0;
}
._ph6vk {
	border: 0;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 0;
	-ms-flex: 1 0 0;
	flex: 1 0 0px;
	margin: 0;
	outline: none;
	overflow: hidden;
	padding: 9px 0 7px 8px;
	text-overflow: ellipsis;
}
._mb54c {
	font-weight: 600;
	line-height: 20px;
	font-size: 17px;
	margin: 0 40px 10px;
}
._ngtox {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	background-image: url(../image/background.png);
	background-position: 0 0;
	background-size: 454px 618px;
	-webkit-flex-basis: 454px;
	-ms-flex-preferred-size: 454px;
	flex-basis: 454px;
	height: 618px;
	margin-left: -35px;
	margin-right: -15px;
}
._qmq8y {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 30px auto 0;
	max-width: 935px;
	width: 100%;
}
._8fi2q {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-ordinal-group: 5;
	-webkit-order: 4;
	-ms-flex-order: 4;
	order: 4;
}
._2v79o {
	background-color: #fafafa;
}
._a8pmp {
	margin: 99px 0 0 151px;
	position: relative;
}
._ngtox {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	background-image: url(../image/background.png);
	background-position: 0 0;
	background-size: 454px 618px;
	-webkit-flex-basis: 454px;
	-ms-flex-preferred-size: 454px;
	flex-basis: 454px;
	height: 618px;
	margin-left: -35px;
	margin-right: -15px;
}
#react-root, article, div, footer, header, main, nav, section {
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	border: 0 solid #000;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	position: relative;
}
._824m9 {
	height: 427px;
	left: 0;
	top: 0;
	width: 240px;
}
._7g6uj {
	margin-bottom: 20px;
}
._68swa {
	margin: 22px auto 12px;
}
._f9sjj {
	background-color: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 1px;
	margin: 0 0 10px;
	padding: 10px 0;
}
._asaim {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}
._4tgw8, ._r9b8f {
	padding: 0 8px;
}
._njrw0 {
	cursor: pointer;
}
._gexxb, ._i63ih._gexxb {
	background: #3897f0;
	border-color: #3897f0;
	color: #fff;
}
._qv64e {
	-webkit-appearance: none;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	font-size: 14px;
	font-weight: 600;
	line-height: 26px;
	outline: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
._fhskl {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	margin: 10px 40px 18px;
}
body, button, input, textarea {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 18px;
}
._gaby6 {
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	height: 100%;
	padding-right: 8px;
	vertical-align: middle;
}
._sjplo {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #262626;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	font-size: 14px;
	position: relative;
	-webkit-appearance: none;
	width: 100%;
	border: 1px solid #efefef;
}
._fd2m9 {
	color: #999;
	margin: 10px 60px;
}
._asaim {

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}
._gaby6 {
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	height: 100%;
	padding-right: 8px;
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
}
._kbq82 {
	color: #262626;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: auto;
	margin-bottom: auto;
	max-width: 48%;
}